.video{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}
.video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.btn {
    background-color: #38b6ff;
    border: #38b6ff;

}